/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.eazy-info, .eazy-success, .eazy-warning, .eazy-error {
    margin: 10px 0px;
    padding: 12px;

}

.eazycv-jobhead-labels {
    display: inline-block;
    width: 150px;
}

.eazycv-job-search-filters {
    width: 99%;
    display: block;
    padding: 2px;
    margin: 2px;
}

.eazycv-job-search-filters-text {
    width: 99%;
    display: block;
    padding: 2px;
    margin: 2px;
}

.eazycv-form-group {
    padding: 10px;
}

.eazycv-filter-group {
    display: block;
    width: 100%;
}

.eazycv-apply-button-top {
    text-align: right;
}

.eazycv-back-top {
    margin: 20px;
    text-align: center;
    display: block;
    border-top: solid 1px #cecece;
}

.eazycv-apply-button-bottom {
    text-align: right;
}

.eazycv-location-filter {
    display: inline-block;
}

.eazycv-field {
    display: block;
    width: 100%;
}

.eazycv-select {
    padding: 4px;
}

.eazy-info {
    border: solid 1px #00529B;
    border-left: solid 4px #00529B;
    color: #00529B;
    background-color: #BDE5F8;
}

.eazy-success {
    border: solid 1px #4F8A10;
    border-left: solid 4px #4F8A10;
    color: #4F8A10;
    background-color: #DFF2BF;
}

.eazy-warning {
    border: solid 1px #9F6000;
    border-left: solid 4px #9F6000;
    color: #9F6000;
    background-color: #FEEFB3;
}

.eazy-error {
    border: solid 1px #D8000C;
    border-left: solid 4px #D8000C;
    color: #D8000C;
    background-color: #FFD2D2;
}

.eazy-info i, .eazy-success i, .eazy-warning i, .eazy-error i {
    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
}

.eazycv-hidden {
    display: none;
}

/* The Modal (background) */
.eazy-centered {
    text-align: center;
}

.eazycv-modal {
    display: none; /* Hidden by default */
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
