{{#data.instance.instance-id}}
    {{^test}}
        <div class="notice notice-error is-dismissable pad10">
            {{form-settings.label-failed-test }}
        </div>
    {{/test}}
{{/data.instance.instance-id}}

<div class="wrap">
    <h1 class="wp-heading-inline">{{page-title}}</h1>
    <br/>
    <br/>
    <h2>{{form-settings.settings-title}}</h2>
    <p>{{form-settings.settings-title-explanation}}</p>
    <form method="post" name="wpeazycv_settings_page" id="wpeazycv_settings_page" class="validate"
          novalidate="novalidate">
        {{{nonce}}}
        <table class="form-table">
            <tbody>
            <tr class="form-field form-required">
                <th scope="row"><label for="wpeazycv_form_settings[instance-id]">{{form-settings.label-instance-id}}
                    <span class="description">({{required}})</span></label></th>
                <td><input name="wpeazycv_form_settings[instance-id]" type="text"
                           id="wpeazycv_form_settings[instance-id]"
                           placeholder="{{form-settings.placeholder-instance-id}}"
                           value="{{data.instance.instance-id}}"></td>
            </tr>
            <tr class="form-field form-required">
                <th scope="row"><label for="wpeazycv_form_settings[instance-pass]">{{form-settings.label-instance-pass}}
                    <span class="description">({{required}})</span></label></th>
                <td><input name="wpeazycv_form_settings[instance-pass]" type="password"
                           id="wpeazycv_form_settings[instance-pass]"
                           placeholder="{{form-settings.placeholder-instance-pass}}"
                           value="{{data.instance.instance-pass}}"></td>
            </tr>
            <tr class="form-field form-required">
                <th scope="row"><label for="wpeazycv_form_settings[language]">{{form-settings.label-language}}</label>
                </th>
                <td>
                    <select name="wpeazycv_form_settings[language]" id="wpeazycv_form_settings[language]">
                        {{#data.languages}}
                            <option value="{{ key }}" {{ selected }}>{{ label }}</option>
                        {{/data.languages}}
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <p class="submit"><input type="submit" name="wpeazycv_settings_api_submit" id="wpeazycv_settings_api_submit"
                                 class="button button-primary" value="{{save}}"></p>
    </form>

</div>

