<div class="wrap">
    <h1 class="wp-heading-inline">{{page-title}}</h1>
    <br/>
    <br/>
    <h2>{{licence-info.info-title}}</h2>
    <p>{{licence-info.info-title-explanation}}</p>
    <table>
        {{#data}}
            <tr>
                <th scope="row">{{ label }}</th>
                <td>{{ value }}</td>
            </tr>
        {{/data}}
    </table>
</div>
