@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600;800&display=swap');
/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#eazycv_admin textarea {
    background:#222222;
    color:#fafafa;
    font-weight:300;
    font-family: "Inconsolata";
    font-size:18px;
}
.eazycv-admin-input {
    padding: 8px !important;
    width: 100%;
}

.eazycv-admin-select {
    width: 100%;
}

.eazy-text-muted {
    color:grey;
}
#wp_eazycv_apply_page,
#wp_eazycv_jobsearch_page{
    border-top:solid 1px green;
}
#wp_eazycv_google_api_key{
    border-top:solid 1px red;
}
#wp_eazycv_google_api_secret{
    border-top:solid 1px red;
}