/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.eazycv-admin-input {
    padding: 8px !important;
    width: 100%;
}

.eazycv-admin-select {
    width: 100%;
}

.eazy-text-muted {
    color:grey;
}
#wp_eazycv_apply_page,
#wp_eazycv_jobsearch_page{
    border-top:solid 1px green;
}
#wp_eazycv_google_api_key{
    border-top:solid 1px red;
}
#wp_eazycv_google_api_secret{
    border-top:solid 1px red;
}